
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>login</servlet-name>
    <jsp-file>/WEB-INF/jsp/login.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>signup</servlet-name>
    <jsp-file>/WEB-INF/jsp/signup.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>products</servlet-name>
    <jsp-file>/WEB-INF/jsp/products.jsp</jsp-file>
  </servlet>
  <servlet>
    <servlet-name>error</servlet-name>
    <jsp-file>/WEB-INF/jsp/error/error.jsp</jsp-file>
  </servlet>


  <servlet-mapping>
    <servlet-name>products</servlet-name>
    <url-pattern>/products</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>error</servlet-name>
    <url-pattern>/error/errorpage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>login</servlet-name>
    <url-pattern>/loginPage</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>signup</servlet-name>
    <url-pattern>/signupPage</url-pattern>
  </servlet-mapping>
</web-app>
